body {
  background: rgb(47, 47, 47);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  // position: absolute;
  top: 0;
  // width: 100%;
}

#titlebar {
  position: absolute;
  top: 2rem;
  width: 100%;
  // background-color: yellow;
  h1 {
    text-align: center;
    margin: inherit;
    padding: inherit;
    font-size: 5rem;
  }
}

canvas {
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 10rem;
  pointer-events: none;
}

#navbar {
  position: absolute;
  left: -16rem;
  top: 15rem;
  z-index: 100;
  transition: 0.3s;
  padding: 15px;
  width: 18rem;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
  background: rgb(86, 86, 86, 0.95);
  height: fit-content; //35rem;
  ul {
    list-style-type: none;
  }
  li {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  li:hover {
    color: white;
    cursor: pointer;
  }
}
#navbar:hover {
  left: -2rem;
}

#main {
  position: absolute;
  top: 10rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 8fr 6fr;
}

#Div3 {
  background-color: rgb(234, 234, 234);
  border-radius: 2%;
  margin: 1rem;
}

img .play {
  height: 20px;
}

img {
  background-color: transparent;
}

#credit {
  text-align: center;
}
